@model IEnumerable<PostKek.Models.ViewModels.SinglePostVm>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top discussed Posts</h1>
    @foreach (var item in @Model)
    {
        <article>
            <a href="@Url.Action("single","Posts", new { id = @item.Id })">
                <img src="@Url.Content(@item.PictureURL)" , alt="View Post" width="300" height="250" />
            </a>
            <div class="info">
                <h2>@item.Title</h2>
                <span>@item.DateCreated</span>
                <p>@item.Contents</p>
            </div> 
        </article>
    }
</div>
 