@model PostKek.Models.ViewModels.SinglePostVm 
@{
    ViewBag.Title = "SinglePost";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>  
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>SinglePost</h2>
<div class="col-xs-12 col-sm-8">
    <section>
        <article>
            <img src="@Model.PictureURL" alt="img" class="img-responsive">
            <div class="info">
                <h2>@Model.Title</h2>
                <span>@Model.DateCreated</span>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <p>@Model.Contents</p>
            </div>
        </article>
    </section>
    <section>
        @Ajax.ActionLink("ShowComments", "GetCommentsForPost",
       new { id = Model.Id }, new AjaxOptions()
       {
           HttpMethod = "GET",
           UpdateTargetId = "comments",
           InsertionMode = InsertionMode.Replace
       }
   )
        @if (ViewContext.HttpContext.User.IsInRole("User") && Model.CurrentUserId == Model.User.IdentityId || ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit post", "edit", "posts", new { id = Model.Id }, null);
            @Html.ActionLink("Delete post", "delete", "posts", new { id = Model.Id }, null);
        }
    </section>
    <section>
        <div id="comments">
        </div>
    </section>
</div> 

